* {
  padding: 0;
  margin: 0;
}

#top_header {
text-align: center;
}
.logo {
  width: 100px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
  text-decoration: underline;
}
ul li, #bottom_header div{
  display: inline-block;
}
.menu-element {
  text-align: center;
  margin: 5px;
 
}
.menu2-element {
  list-style: none;
  margin: 5px;
}
#products-filter {
  background-color: lightgrey;
  box-sizing: border-box;
  padding: 20px;
  position: sticky;
  width: 100%;
  top: 0;
}
.product-name {
  font-weight: bold;
  display: grid;
}
.image-container img {
  width: 100%;
}
#back-to-top {
  position: fixed;
  top: 90%;
  left: 80%;
}
#load-more-products {
  text-align: center;
}
.footer {
  display: grid;
  text-align: center;
  background-color: lightgrey;
  
}

@media (min-width: 600px) {
  #bottom_header {
    display: inline-block;
  }
}
