* {
  padding: 0;
  margin: 0;
}
/* header */
#top_header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 100px;
}

#bottom_header {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#bottom_header div {
  position: absolute;
  right: 0;
}
#bottom_header > ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.menu-element {
  margin: 5px;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
  text-decoration: underline;
}

/*Body*/
.list-group {
  list-style: none;
  margin: 20px;
}
.menu2-element {
  list-style: none;
  margin: 5px;
}

/* All products */

aside {
  width: 15%;
  float: left;
}
section {
  width: 85%;
  margin-left: 15%;
}
#products-filter {
  background-color: lightgrey;
  padding: 20px;
  position: sticky;
  top: 0;
}
#product-listing {
  display: flex;
  flex-wrap: wrap;
}
#product-listing li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.image-container img {
  width: 400px;
}
.product-name {
  font-weight: bold;
  display: flex;
}
#load-more-products{
  display: flex;
  justify-content: center;
}
/* footer */
