<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Post</title>
</head>

<body>
  <div id="app">
    <h1>{{lista}}</h1>

    <ul v-if="posts.length">
      <li v-for="(post,index) in posts" v-bind:key="index">
        Title: {{post.title}}
        Content: {{post.content}}
        Date: {{post.creation_date}}

        <button v-on:click="showEdit(index)">Edit</button>
        <button @click="velete(index)">Delete</button>

      </li>
    </ul>

    <h1 v-if="editando==false">{{titulo_creacion}}</h1>
    <h1 v-else>{{titulo_Upgreacion}}</h1>


    <form id="formulario">
      <div v-if="editando==false">
        <!-- Title -->
        <input v-model="form.title" type="text" name="title" placeholder="Title"><br>
        <!-- Content -->
        <textarea v-model="form.content" type="text" name="content" placeholder="content"></textarea><br>
        <!-- Date -->
        <input v-model="form.creation_date" type="date" name="date" placeholder="Date"><br>
        <p>Title: {{form.title}}</p>
        <p>Content: {{form.content}}</p>

        <button v-on:click=" insert">Inserta User</button>
      </div>
      <div v-else>
        <!-- Title -->
        <input v-model="form.title" type="text" name="title" placeholder="Title"><br>
        <!-- Content -->
        <textarea v-model="form.content" type="text" name="content" placeholder="content"></textarea><br>
        <!-- Author -->
        <input v-model="form.author" type="text" name="author" placeholder="Author"><br>
        <!-- Img -->
        <!-- <input v-model="form.img" type="file" name="img" placeholder="Image"><br> -->
        <!-- Publication date -->
        <input v-model="form.publication_date" type="date" name="publication_date" placeholder="Publication Date"><br>

        <!-- Rating -->
        <select name="rating" v-model="form.rating">
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>

        <p>Title: {{form.title}}</p>
        <p>Content: {{form.content}}</p>
        <button @click="edit">Update</button>
      </div>

    </form>

  </div>
  <script>
    const { createApp } = Vue

    let app = createApp({
      data() {
        return {
          form: {
            img: "",
            title: "",
            status: "Draft",
            rating: "",
            author: "",
            content: "",
            creation_date: "",
            publication_date: null,

          },
          lista: "Lista de posts",
          titulo_creacion: "Crear post",
          titulo_Upgreacion: "Actualizar post",
          posts: [],
          position: 0,
          editando: false
        }
      },
      // Methods
      methods: {
        insert: function (e) {
          e.preventDefault();
          
          let post = {
            title: this.form.title,
            content: this.form.content,
            creation_date: this.form.creation_date,
          }
          this.posts.push(post);
          this.form.title = "";
          this.form.content = "";
          this.form.creation_date = "";

          return;
        },
        showEdit(position) {
          this.editando = true;
          this.position = position;
          this.form.title = this.posts[position].title;
          this.form.content = this.posts[position].content;

        },
        edit(e) {
          e.preventDefault();
          this.posts[this.position] = {
            title: this.form.title,
            content: this.form.content,
            // img: this.form.img,
            rating: this.form.rating,
            author: this.form.author,
            publication_date: this.form.publication_date,
          }
          this.form.title = "";
          this.form.content = "";
          this.form.rating = "";
          this.form.author = "";
          this.form.publication_date = "";
          this.editando = false;
        },
        velete(index) {
          this.posts.splice(index, 1);
        }
      },
    }).mount('#app');
  </script>
</body>

</html>